<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Advertise Ride</title>
    <link rel='stylesheet' href='/stylesheets/appStyle.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->
  </head>
  <body>
		<div class="header">
			<%- include driverHeader.ejs %>
		</div>
		<div class="main">
    <h1><%= title%></h1>
		<form id="html_form" action="advertiseRide" role="form" method="post">
			<div class="form-group">
				<label for="source">Source</label>
				<input type="text" class="form-control" id="source" name="source" required=true placeholder="Enter your source">
			</div>
			<div class="form-group">
				<label for="destination">Destination</label>
				<input type="text" class="form-control" id="destination" name="destination" required=true placeholder="Enter your destination">
			</div>
			<div class="form-group">
					<label for="numSeats">Number of passengers</label>
					<input type="number" class="form-control" id="numSeats" name="numSeats" required=true placeholder="Enter your destination" min="1">
					<small id="nameHelp" class="form-text text-muted">Please do not put numbers greater than your car capacity</small>

			</div>
			<div class="form-group">
					<label for="date">Departing time and date</label>
					<input type="text" class="form-control" id="date" name="date" required=true placeholder="Enter departing time in the form YYYY/MM/DD 00:00">
					<small id="nameHelp" class="form-text text-muted">Note time is in 24 hr format example 2019/12/31 16:35 indicates 31st December 2019 4:35pm</small>

			</div>
			
			<button type="submit" class="btn btn-primary">Post</button>
		</form>
		</div>
		
  </body>
</html>
