<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/stylesheets/headerStyle.css'/>
</head>
<body>
<h1>Welcome <%= name %></h1>
<button class="switchButton" onclick="location.href='/findRide'">You are in driver mode. Click here to switch to passenger mode</button>

<div class="topnav" style="padding: 0px">
  <a class="active" href="/profile?drivermode=true">My profile</a>

  <a href="/wallet?drivermode=true">Wallet</a>
  <a href="/rate?drivermode=true">Rate Others</a>
  <a href="/advertiseRide">Advertise rides</a>
  <a href="/selectPassenger">Select Passengers</a>
  <a href="/manageRide">Manage Rides</a>
  <a href="/clientHelpDesk?drivermode=true">Help</a>
  <a href="/logout">logout</a>

</div>

</body>
</html>