<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/stylesheets/appStyle.css'/>
</head>
<body>
<h1>Welcome <%= name %></h1>
<div class="topnav" style="padding: 0px">
  <a class="active" href="/profile">My profile</a>
  <a href="/wallet">Wallet</a>
  <a href="/rate">Rate Others</a>
  <a href="/findRide">Find Rides</a>
  <a href="/manageBids">Manage Bids</a>
  <a href="/passengerHistory">Ride History</a>
  <a href="/registerAsDriver">Register as driver</a>
  <a href="/clientHelpDesk">Help</a>
  <a href="/logout">logout</a>

</div>

</body>
</html>