<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/stylesheets/headerStyle.css'/>
</head>
<body>
<h1>Welcome</h1>
<div class="topnav" style="padding: 0px">
  <a href="/login">Login</a>
  <a href="/register">Register</a>
</div>

</body>
</html>