.main {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
  padding: 0px;
}

a {
  color: #00B7FF;
}

/* body {

}

.main div {

}

.button {

}

.navbar {
  ...
}
.navbar button {

}

.button {
  background: asdas
}
#home {
  ...
  background: asdawd
}


<button id='home' class='appButton'/>
<button class='loginButton/>
<div class='navbar'>
  <button?
</div> */